@model List<Tugas_2_Kelompok_01.Models.JenisKuraKura>
@{
    ViewData["Title"] = "Home Page";
    int no = 1;
}   

<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Jenis Kura Kura</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>No.</th>
                            <th>ID Jenis Kura-kura</th>
                            <th>Nama Jenis</th>
                            <th>Stok</th>
                            <th>Status</th
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var jenis in Model)
                        {
                            <tr>
                                <td>@(no++)</td>
                                <td>JNS@(jenis.id.ToString("D3"))</td>
                                <td>@jenis.namajenis</td>
                                <td>@jenis.stok</td>
                                <td>@(jenis.status == 1 ? "Aktif" : "Tidak Aktif")</td>
                                <td>
                                    <button class="btn btn-sm btn-danger delete-button" data-id="@jenis.id">
                                        <i class="fas fa-trash"></i>
                                    </button>
                                    <a asp-controller="jenis" asp-action="Edit" asp-route-id="@jenis.id" class="btn btn-sm btn-primary">
                                        <i class="fas fa-edit"></i>
                                    </a>
                                    <button class="btn btn-sm btn-info btn-info-modal" data-toggle="modal" data-target="#infoModal_@jenis.id">
                                        <i class="fas fa-info-circle"></i>
                                    </button>

                                    <div class="modal fade" id="infoModal_@jenis.id" tabindex="-1" role="dialog" aria-labelledby="infoModalLabel" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title">Informasi jenis</h5>
                                                    <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <strong>Id Jenis:</strong> JNS@(jenis.id.ToString("D3"))<br />
                                                    <strong>Nama Jenis:</strong> @jenis.namajenis<br />
                                                    <strong>Stok:</strong> @jenis.stok<br />
                                                    <strong>Status:</strong> @(jenis.status == 1 ? "Aktif" : "Tidak Aktif")<br />
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Tutup</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>