@model List<Tugas_2_Kelompok_01.Models.JenisKuraKura>
@{
    ViewData["Title"] = "Home Page";
    int no = 1;
}   

<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Jenis Kura Kura</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <a class="btn btn-primary" asp-action="Create">Tambah Jenis</a>
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>No.</th>
                            <th>ID Jenis Kura-kura</th>
                            <th>Nama Jenis</th>
                            <th>Stok</th>
                            <th>Status</th
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var jenis in Model)
                        {
                            <tr>
                                <td>@(no++)</td>
                                <td>JNS@(jenis.id.ToString("D3"))</td>
                                <td>@jenis.namajenis</td>
                                <td>@jenis.stok</td>
                                <td>@(jenis.status == 1 ? "Aktif" : "Tidak Aktif")</td>
                                <td>
                                    <button class="btn btn-sm btn-danger delete-button" data-toggle="modal" data-target="#deleteModal_@jenis.id">
                                            <i class="fas fa-trash"></i>
                                        </button>
                                        <button class="btn btn-sm btn-info btn-info-modal" data-toggle="modal" data-target="#editModal_@jenis.id">
                                            <i class="fas fa-edit"></i>
                                        </button>
                                        <button class="btn btn-sm btn-info btn-info-modal" data-toggle="modal" data-target="#infoModal_@jenis.id">
                                            <i class="fas fa-info-circle"></i>
                                        </button>


                                        @*Edit Modal*@
                                        <div class="modal fade" id="editModal_@jenis.id" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
                                            <div class="modal-dialog modal-dialog-centered">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title">Edit Jenis Kura-Kura</h5>
                                                        <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">
                                                        </button>
                                                    </div>
                                                    <form method="post" asp-controller="JenisKuraKura" asp-action="Edit" asp-route-id="@jenis.id">
                                                    <div class="modal-body">
                                                            <div class="form-group">
                                                                <label asp-for="@jenis.namajenis" class="control-label">Nama Jenis</label>
                                                                <input asp-for="@jenis.namajenis" class="form-control" name="namajenis" required/>
                                                                <span asp-validation-for="@jenis.namajenis" class="text-danger"></span>
                                                            </div>
                                                            <div class="form-group">
                                                                <label asp-for="@jenis.stok" class="control-label">Stok</label>
                                                                <input asp-for="@jenis.stok" class="form-control" name="stok" required/>
                                                                <span asp-validation-for="@jenis.stok" class="text-danger"></span>
                                                            </div>
                                                            <div class="form-group">
                                                                <label asp-for="@jenis.status" class="control-label">Status</label>
                                                                 <select asp-for="@jenis.status" class="form-control" name="status">
                                                                    <option value="@(jenis.status == 1 ? "1" : "0")">@(jenis.status == 1 ? "Aktif" : "Tidak Aktif")</option>
                                                                    <option value="@(jenis.status == 1 ? "0" : "1")">@(jenis.status == 1 ? "Tidak Aktif" : "Aktif")</option>
                                                                </select>
                                                                <span asp-validation-for="@jenis.status" class="text-danger"></span>
                                                            </div>
                                                            <br />
                                                            <div class="form-group">
                                                                
                                                            </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                            <button type="submit" class="btn btn-primary">Simpan</button>
                                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Tutup</button>
                                                    </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>

                                        @*Info Modal*@
                                        <div class="modal fade" id="infoModal_@jenis.id" tabindex="-1" role="dialog" aria-labelledby="infoModalLabel" aria-hidden="true">
                                            <div class="modal-dialog modal-dialog-centered">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title">Informasi Jenis Kura-kura</h5>
                                                        <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <strong>Id:</strong> @jenis.id<br />
                                                        <strong>Nama Jenis:</strong> @jenis.namajenis<br />
                                                        <strong>Stok:</strong> @jenis.stok<br />
                                                        <strong>Status:</strong> @(jenis.status == 1 ? "Aktif" : "Tidak Aktif")<br />
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Tutup</button>
                                                    </div>
                                                </div>
                                            </div>  
                                        </div>
                                        @*Delete Modal*@
                                        <div class="modal fade" id="deleteModal_@jenis.id" tabindex="-1" role="dialog" aria-labelledby="infoModalLabel" aria-hidden="true">
                                            <div class="modal-dialog modal-dialog-centered">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title">Delete Data Jenis Kura-kura</h5>
                                                        <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <p><i class="fas fa-exclamation-triangle text-warning"></i> Apakah Anda yakin ingin menghapus jenis kura-kura ini?</p>
                                                    </div>
                                                    <form method="post" asp-controller="JenisKuraKura" asp-action="Delete" asp-route-id="@jenis.id">
                                                    <div class="modal-footer">
                                                        <button type="submit" class="btn btn-primary">Delete</button>
                                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Tutup</button>
                                                    </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
